<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->

    <link rel="stylesheet" href="css/Admin.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Study Planner</h3>
            </div>

            <ul class="list-unstyled components">
                
                <div class="dropdown-header text-center">
                    <img class="rounded-circle mt-1" width="50px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <p class="mb-1 mt-3 font-weight-semibold"><%=usname[0].username%></p>
                    <p  style="color:#ffffff;"><%=usname[0].username%>@gmail.com</p>
                </div>
            <ul class="list-unstyled CTAs">
                <li>
                    <a class="nav-link" href="logout">Logout</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <img class="rounded-circle mt-1" width="40px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    </button>
                    <h2>National Institute of Technology, Calicut</h2>
                    <img width="80px" height="60px" src="image/NITC_logo.jpeg">
                </div>
            </nav>

            <div class="container mt-3">
            
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a class="nav-link active" data-toggle="tab" href="#home">New Entry</a>
                  </li>
                  
                  <li>
                    <a class="nav-link" data-toggle="tab" href="#menu2">Delete Entry</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="tab-pane active" class="tab-pane fade in active"><br>
                    <form action="/Admin" method="POST">
                      <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">UserName</label>
                                  <input type="text" name="usrname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Password</label>
                                  <input type="text" name="pswd" class="form-control" id="exampleInputPassword1">
                              </div>
                              
                              <div class="input-group mb-3" style="margin-top: 50px;">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                  </div>
                                  <select class="custom-select" name="opt" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">Student</option>
                                    <option value="2">Faculty</option>
                                    <option value="3">Workshop Admin</option>
                                  </select>
                              </div>
                              <div class="container" style="margin-top: 30px;">
                                  <div class="row">
                                    <div class="col">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm"></div>
                      </div>
                      
                  </form>  
                  </div>
                  
                  <div id="menu2" class="tab-pane fade"><br>
                    <form action="/AdminP" method="POST"> 
                      <div class="row">
                        <div class="col-md-1"></div>
                          <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Enter Username</label>
                                  <input type="text" name="user" class="form-control" id="exampleInputPassword1">
                              </div>
                              <div class="input-group mb-3" style="margin-top: 50px;">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                </div>
                                <select class="custom-select" name="opt" id="inputGroupSelect01">
                                  <option selected>Choose...</option>
                                  <option value="1">Student</option>
                                  <option value="2">Faculty</option>
                                  <option value="3">Workshop Admin</option>
                                </select>
                            </div>
                              
                              <div class="container" style="margin-top: 30px;">
                                  <div class="row">
                                    <div class="col">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm"></div>
                      </div>
                      
                  </form>  
                  </div>
                </div>
        </div>   
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>